streamlit
transformers
nltk
spacy
pyttsx3
SpeechRecognition
torch  # or tensorflow (choose one)
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz
